/* betterreads/src/components/SidePanel/SidePanel.css **/


.side-panel {
  position: fixed;
  top: 10vh; 
  left: 3%;
  max-width: 200px; 
  height: 87vh;
  margin-right: 100px;
  background: #fdfcf7;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  font-family: 'Roboto', sans-serif;
  border-radius: 0 0 15px 15px;
}

.side-panel a {
  text-decoration: none;
  color: #333;
}

.side-panel a:hover {
  text-decoration: underline;
}
