/* betterreads/src/ProfilePage/ProfilePage.css */

.container {
  display: grid;
  grid-gap: 20px;
  margin: auto;
}

.recent-reads {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  padding: 10px;
}

.user-info-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  justify-content: space-around;
}

.user-subdetails,
list {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  padding: 10px;
}
