/* betterreads/src/BookCard/BookCard.css */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.book-card {
  display: flex;
  align-items: center;
  width: 50vw; 
  max-width: 400px; 
  padding: 20px; 
  background: #121017;
  border-radius: 16px; 
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin: 10px;
  color: #fdfcfd;
}

.book-card:hover {
  transform: translateY(-5px);
}

.book-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}

.book-card img {
  max-width: 150px; 
  width: 20vw; 
  height: 200px; 
  object-fit: cover;
  margin-left: -20px; 
  margin-right: 20px; 
  border-radius: inherit;
  box-shadow: 0 30px 20px rgb(0 0 0 / 8%); 
}

.book-card h1 {
  font-size: 20px; 
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
  color: #fdfcfd;
}

.book-card p {
  font-size: 12px; 
  font-weight: 400;
  margin-bottom: 20px; 
  opacity: 0.5;
  color: #fdfcfd;
}

.book-card button {
  border: 1px solid #f8f8f8;
  background: transparent;
  color: #f8f8f8;
  font-family: inherit;
  padding: 10px 16px; 
  font-size: 14px; 
  border-radius: 30px; 
  cursor: pointer;
  transition: background-color 0.3s;
}

.book-card button:hover {
  background-color: #02458e;
}

@media (max-width: 600px) {
  .book-card {
    margin: 0 20px; 
    padding: 20px; 
    width: 80vw; 
    text-align: center;
    flex-direction: column;
  }

  .book-card h1 {
    font-size: 20px; 
  }

  .book-card img {
    margin: -50px 0 20px 0; 
    width: 80vw; 
    max-width: 500px; 
    height: 200px; 
  }

  .book-card p {
    max-width: 280px; 
  }
}

@media (max-width: 440px) {
  .book-card img {
    height: 30vw; 
    width: 30vw; 
    border-radius: 50%; 
    margin: -70px 0 20px 0; 
  }
}
