/* better-reads/src/pages/LandingPage/LandingPage.css */

.landing-container {
  font-family: Arial, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  margin-top: 0;
}

.landing-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.7rem;
  background: #fdfcf7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px 15px 0 0;

}

.landing-header .logo {
  height: 6rem; 
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.nav-links {
  display: flex;
  gap: 3rem;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  position: relative;
}

.nav-links a:hover {
  text-decoration: underline;
  gap: 2rem;
}

.landing-main {
  background-color: #fdfcf7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  padding-top: 0;
  border-radius: 0 0 15px 15px;
}

.intro-section {
  background: url('/public/images/Hero.jpg') no-repeat center center;
  background-size: cover;
  padding: 5.2rem 12rem;
  text-align: center;
  color: white;
  border-radius: 10px;
}

.goodreads-section {
  text-align: center;
  margin-top: 2rem;
}

.goodreads-section .button {
  display: inline-block;
  font-size: 0.9rem;
  margin: 0.5rem;
  padding: 0.6rem 1rem;
  background: #282828;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.goodreads-section span {
  font-weight: bold;
}
