
.book-details-page {
    padding: 100px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.book-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 90vw;
    max-width: 1200px;
    padding: 30px;
    background: #fdfcf7;
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin: 10px;
    color: #000;
}

.book-card:hover {
    transform: translateY(-5px);
}

.book-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 30px;
    flex-grow: 1;
}

.book-card img {
    max-width: 300px;
    width: 25vw;
    height: auto;
    object-fit: cover;
    margin-right: 30px;
    border-radius: inherit;
    box-shadow: 0 30px 20px rgb(0 0 0 / 8%);
}

.book-card h1 {
    font-size: 28px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 10px;
    color: black;
}

.book-card p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    opacity: 0.7;
    color: black;
}

.book-card .description {
    font-size: 14px;
    opacity: 0.9;
    color: black;
    margin-bottom: 20px;
    text-align: justify;
}

.book-card button {
    border: 1px solid black;
    background: transparent;
    color: black;
    font-family: inherit;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.book-card button:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}

select {
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
}

@media (max-width: 600px) {
    .book-details-page {
        padding: 120px 10px 20px 10px;
    }

    .book-card {
        flex-direction: column;
        margin: 0 20px;
        padding: 20px;
        width: 90vw;
        text-align: center;
    }

    .book-card h1 {
        font-size: 24px;
    }

    .book-card img {
        margin: -50px 0 20px 0;
        width: 80vw;
        max-width: 500px;
        height: auto;
    }

    .book-card p {
        max-width: 280px;
    }
}

@media (max-width: 440px) {
    .book-card img {
        height: 30vw;
        width: 30vw;
        border-radius: 50%;
        margin: -70px 0 20px 0;
    }
}