/* better-reads/src/pages/BookDetailsPage/BookDetailsPage.css */

.book-details-page {
    padding: 100px 20px 20px 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-info {
    max-width: 800px; 
    margin-bottom: 20px;
    text-align: center; 
}

.book-info img {
    max-width: 200px;
    margin-bottom: 20px;
}

select {
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
}


@media (max-width: 600px) {
    .book-details-page {
        padding: 120px 10px 20px 10px; 
    }

    .book-info img {
        max-width: 150px; 
    }
}

